header.s-header
    .container
        .header
            .header__image
                +icon('cyprus-logo','header__logo','42','39')
            .header__language.language
                button.language__text.language--current(type="button") rus
                button.language__text(type="button") eng