section.s-hero
    .container
        .hero
            h1.hero__title Кипр. Паспортная программа. Пакет недвижимости -10% от рынка
            p.hero__description Продажа недвижимости на Кипре напрямую от собственника, для участия в паспортной программе. Цены существенно ниже рыночных. Предложение ограничено.
            button.hero__button(type="button") Посмотреть отчёт