.product-prev.product-prev--right
    .container
        .product-prev__row
            .product-prev__top.product-prev__top--right
                .js-product-slider
                    .slider-prev
                        picture.product-prev__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="/static/images/content/index-can-desktop1x.webp, /static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" media="(min-width: 768px)" srcset="/static/images/content/index-can-tablet1x.webp, /static/images/content/index-can-tablet2x.webp 2x")
                            //source(type="image/webp" srcset="/static/images/content/index-can-mobile1x.webp, /static/images/content/index-can-mobile2x.webp 2x")
                            //source(media="(min-width: 1300px)" srcset="/static/images/content/index-can-desktop1x.png 1x, /static/images/content/index-can-desktop2x.png 2x")
                            source(media="(min-width: 768px)" srcset="static/images/content/product-prev-4-tabletx1.jpg 1x, /static/images/content/product-prev-4-tabletx2.jpg 2x")
                            img.product-prev__img(src="static/images/content/product-prev-4x1.jpg" srcset="static/images/content/product-prev-4x2.jpg 2x" width="315" height="235" alt="Nereids apt. B11 «Лимассол Марина»")
                    .slider-prev
                        picture.product-prev__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="/static/images/content/index-can-desktop1x.webp, /static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" media="(min-width: 768px)" srcset="/static/images/content/index-can-tablet1x.webp, /static/images/content/index-can-tablet2x.webp 2x")
                            //source(type="image/webp" srcset="/static/images/content/index-can-mobile1x.webp, /static/images/content/index-can-mobile2x.webp 2x")
                            //source(media="(min-width: 1300px)" srcset="/static/images/content/index-can-desktop1x.png 1x, /static/images/content/index-can-desktop2x.png 2x")
                            source(media="(min-width: 768px)" srcset="static/images/content/product-prev-1-tabletx1.jpg 1x, /static/images/content/product-prev-1-tabletx2.jpg 2x")
                            img.product-prev__img(src="static/images/content/product-prev-1x1.jpg" srcset="static/images/content/product-prev-1x2.jpg 2x" width="315" height="235" alt="Nereids apt. B11 «Лимассол Марина»")
                .product-prev__nav
                    .product-prev__number.product-prev__number--last 4
                    .product-prev__inner.product-prev__inner--right
                        button.product-prev__button.product-prev__button--prev
                            span.visually-hidden Предыдущий слайд
                            +icon('icon-arrow', 'icon__arrow icon__arrow--prev','10', '20')
                        button.product-prev__button.product-prev__button--next
                            span.visually-hidden Следующий слайд
                            +icon('icon-arrow', 'icon__arrow icon__arrow--next','10', '20')
            .product-prev__wrapper
                .product-prev__body
                    h2.product-prev__title Апартаменты в комплексе Blue Ocean apt 401
                    p.product-prev__cost €1,250,000
                        span 118 м²
                    p.product-prev__description Blue Ocean –новый (построен в 2017 году) великолепный комплекс апартаментов класса люкс на первой линии моря в самом центре Лимассола с прекрасными панорамными видами.
                .product-prev__footer
                    a.product-prev__link.button(href="") Описание
                    button.product-prev__call.button Позвонить
                    span.product-prev__name – Алексей