section.s-products
    .products
        h2.visually-hidden Каталог недвижимости
        .products__list
            include prev/prev-1
            include prev/prev-2
            include prev/prev-3
            include prev/prev-4